#divSmallBox{overflow:hidden;*display:inline;*zoom:1;width:10px;height:10px;margin:0 5px;border-radius:10px;background:#ffffff;}
#playBox{ width:748px; height:320px; margin:0 auto; background:#333; position:relative; overflow:hidden;border:1px solid #ccc}
#playBox .oUlplay { width:99999px; position:absolute; left:0; top:0;}
#playBox .oUlplay li{ float:left;}
#playBox .pre{ cursor:pointer; width:45px; height:45px; background:url(../images/l.png) no-repeat; position:absolute; top:140px; left:0px; z-index:10;}
#playBox .next{ cursor:pointer; width:45px; height:45px; background:url(../images/r.png) no-repeat; position:absolute; top:140px; right:0px; z-index:10;}
#playBox .smalltitle {width:748px; height:13px; position:absolute; bottom:3px; z-index:10}
#playBox .smalltitle ul{ width:100px; margin:0 auto;}
#playBox .smalltitle ul li{ cursor:pointer; width:13px; height:13px; margin:0 5px; border-radius:13px; background:#de7a3a; float:left; overflow:hidden;*display:inline;*zoom:1;}
#playBox .smalltitle .thistitle{ background:#69aaec;}

