.anheguogongchong {background: url('extjs_icons/insects/anheguogongchong.png') no-repeat center center;}
.anheguogongchong32 {background: url('extjs_icons/insects/anheguogongchong32.png') no-repeat center center;}
.baidaiyuanpidu {background: url('extjs_icons/insects/baidaiyuanpidu.png') no-repeat center center;}
.baidaiyuanpidu32 {background: url('extjs_icons/insects/baidaiyuanpidu32.png') no-repeat center center;}
.baifupidu {background: url('extjs_icons/insects/baifupidu.png') no-repeat center center;}
.baifupidu32 {background: url('extjs_icons/insects/baifupidu32.png') no-repeat center center;}
.baxidouxiang {background: url('extjs_icons/insects/baxidouxiang.png') no-repeat center center;}
.baxidouxiang32 {background: url('extjs_icons/insects/baxidouxiang32.png') no-repeat center center;}
.bishifendao {background: url('extjs_icons/insects/bishifendao.png') no-repeat center center;}
.bishifendao32 {background: url('extjs_icons/insects/bishifendao32.png') no-repeat center center;}
.boshishimuman {background: url('extjs_icons/insects/boshishimuman.png') no-repeat center center;}
.boshishimuman32 {background: url('extjs_icons/insects/boshishimuman32.png') no-repeat center center;}
.bowenmaopidu {background: url('extjs_icons/insects/bowenmaopidu.png') no-repeat center center;}
.bowenmaopidu32 {background: url('extjs_icons/insects/bowenmaopidu32.png') no-repeat center center;}
.bowenpidu {background: url('extjs_icons/insects/bowenpidu.png') no-repeat center center;}
.bowenpidu32 {background: url('extjs_icons/insects/bowenpidu32.png') no-repeat center center;}
.bowenxunjia {background: url('extjs_icons/insects/bowenxunjia.png') no-repeat center center;}
.bowenxunjia32 {background: url('extjs_icons/insects/bowenxunjia32.png') no-repeat center center;}
.candouxiang {background: url('extjs_icons/insects/candouxiang.png') no-repeat center center;}
.candouxiang32 {background: url('extjs_icons/insects/candouxiang32.png') no-repeat center center;}
.cangchuyanchong {background: url('extjs_icons/insects/cangchuyanchong.png') no-repeat center center;}
.cangchuyanchong32 {background: url('extjs_icons/insects/cangchuyanchong32.png') no-repeat center center;}
.cangqian {background: url('extjs_icons/insects/cangqian.png') no-repeat center center;}
.cangqian32 {background: url('extjs_icons/insects/cangqian32.png') no-repeat center center;}
.changjiaobiangudao {background: url('extjs_icons/insects/changjiaobiangudao.png') no-repeat center center;}
.changjiaobiangudao32 {background: url('extjs_icons/insects/changjiaobiangudao32.png') no-repeat center center;}
.changshilaoman {background: url('extjs_icons/insects/changshilaoman.png') no-repeat center center;}
.changshilaoman32 {background: url('extjs_icons/insects/changshilaoman32.png') no-repeat center center;}
.changtougudao {background: url('extjs_icons/insects/changtougudao.png') no-repeat center center;}
.changtougudao32 {background: url('extjs_icons/insects/changtougudao32.png') no-repeat center center;}
.chijingguogongchong {background: url('extjs_icons/insects/chijingguogongchong.png') no-repeat center center;}
.chijingguogongchong32 {background: url('extjs_icons/insects/chijingguogongchong32.png') no-repeat center center;}
.chimaopidu {background: url('extjs_icons/insects/chimaopidu.png') no-repeat center center;}
.chimaopidu32 {background: url('extjs_icons/insects/chimaopidu32.png') no-repeat center center;}
.chinigudao {background: url('extjs_icons/insects/chinigudao.png') no-repeat center center;}
.chinigudao32 {background: url('extjs_icons/insects/chinigudao32.png') no-repeat center center;}
.chizuguogongchong {background: url('extjs_icons/insects/chizuguogongchong.png') no-repeat center center;}
.chizuguogongchong32 {background: url('extjs_icons/insects/chizuguogongchong32.png') no-repeat center center;}
.cujiaofenman {background: url('extjs_icons/insects/cujiaofenman.png') no-repeat center center;}
.cujiaofenman32 {background: url('extjs_icons/insects/cujiaofenman32.png') no-repeat center center;}
.dagudao {background: url('extjs_icons/insects/dagudao.png') no-repeat center center;}
.dagudao32 {background: url('extjs_icons/insects/dagudao32.png') no-repeat center center;}
.dagudu {background: url('extjs_icons/insects/dagudu.png') no-repeat center center;}
.dagudu32 {background: url('extjs_icons/insects/dagudu32.png') no-repeat center center;}
.daliqiedu {background: url('extjs_icons/insects/daliqiedu.png') no-repeat center center;}
.daliqiedu32 {background: url('extjs_icons/insects/daliqiedu32.png') no-repeat center center;}
.dayanjugudao {background: url('extjs_icons/insects/dayanjugudao.png') no-repeat center center;}
.dayanjugudao32 {background: url('extjs_icons/insects/dayanjugudao32.png') no-repeat center center;}
.dayeluweijia {background: url('extjs_icons/insects/dayeluweijia.png') no-repeat center center;}
.dayeluweijia32 {background: url('extjs_icons/insects/dayeluweijia32.png') no-repeat center center;}
.dingzhonghaiming {background: url('extjs_icons/insects/dingzhonghaiming.png') no-repeat center center;}
.dingzhonghaiming32 {background: url('extjs_icons/insects/dingzhonghaiming32.png') no-repeat center center;}
.dongfangxinjia {background: url('extjs_icons/insects/dongfangxinjia.png') no-repeat center center;}
.dongfangxinjia32 {background: url('extjs_icons/insects/dongfangxinjia32.png') no-repeat center center;}
.duanjiaoluweijia {background: url('extjs_icons/insects/duanjiaoluweijia.png') no-repeat center center;}
.duanjiaoluweijia32 {background: url('extjs_icons/insects/duanjiaoluweijia32.png') no-repeat center center;}
.duanlianaoman {background: url('extjs_icons/insects/duanlianaoman.png') no-repeat center center;}
.duanlianaoman32 {background: url('extjs_icons/insects/duanlianaoman32.png') no-repeat center center;}
.erdaiheijunchong {background: url('extjs_icons/insects/erdaiheijunchong.png') no-repeat center center;}
.erdaiheijunchong32 {background: url('extjs_icons/insects/erdaiheijunchong32.png') no-repeat center center;}
.fenbanming {background: url('extjs_icons/insects/fenbanming.png') no-repeat center center;}
.fenbanming32 {background: url('extjs_icons/insects/fenbanming32.png') no-repeat center center;}
.fenchenman {background: url('extjs_icons/insects/fenchenman.png') no-repeat center center;}
.fenchenman32 {background: url('extjs_icons/insects/fenchenman32.png') no-repeat center center;}
.fushilaoman {background: url('extjs_icons/insects/fushilaoman.png') no-repeat center center;}
.fushilaoman32 {background: url('extjs_icons/insects/fushilaoman32.png') no-repeat center center;}
.fushiwuzhuaman {background: url('extjs_icons/insects/fushiwuzhuaman.png') no-repeat center center;}
.fushiwuzhuaman32 {background: url('extjs_icons/insects/fushiwuzhuaman32.png') no-repeat center center;}
.ganguoluweijia {background: url('extjs_icons/insects/ganguoluweijia.png') no-repeat center center;}
.ganguoluweijia32 {background: url('extjs_icons/insects/ganguoluweijia32.png') no-repeat center center;}
.ganshuxiaoxiangchong {background: url('extjs_icons/insects/ganshuxiaoxiangchong.png') no-repeat center center;}
.ganshuxiaoxiangchong32 {background: url('extjs_icons/insects/ganshuxiaoxiangchong32.png') no-repeat center center;}
.ganxianglaoman {background: url('extjs_icons/insects/ganxianglaoman.png') no-repeat center center;}
.ganxianglaoman32 {background: url('extjs_icons/insects/ganxianglaoman32.png') no-repeat center center;}
.gongzhishizhaman {background: url('extjs_icons/insects/gongzhishizhaman.png') no-repeat center center;}
.gongzhishizhaman32 {background: url('extjs_icons/insects/gongzhishizhaman32.png') no-repeat center center;}
.gouwenpidu {background: url('extjs_icons/insects/gouwenpidu.png') no-repeat center center;}
.gouwenpidu32 {background: url('extjs_icons/insects/gouwenpidu32.png') no-repeat center center;}
.gubanpidu {background: url('extjs_icons/insects/gubanpidu.png') no-repeat center center;}
.gubanpidu32 {background: url('extjs_icons/insects/gubanpidu32.png') no-repeat center center;}
.gudu {background: url('extjs_icons/insects/gudu.png') no-repeat center center;}
.gudu32 {background: url('extjs_icons/insects/gudu32.png') no-repeat center center;}
.gue {background: url('extjs_icons/insects/gue.png') no-repeat center center;}
.gue32 {background: url('extjs_icons/insects/gue32.png') no-repeat center center;}
.gufuxianman {background: url('extjs_icons/insects/gufuxianman.png') no-repeat center center;}
.gufuxianman32 {background: url('extjs_icons/insects/gufuxianman32.png') no-repeat center center;}
.guxiang {background: url('extjs_icons/insects/guxiang.png') no-repeat center center;}
.guxiang32 {background: url('extjs_icons/insects/guxiang32.png') no-repeat center center;}
.haishilinman {background: url('extjs_icons/insects/haishilinman.png') no-repeat center center;}
.haishilinman32 {background: url('extjs_icons/insects/haishilinman32.png') no-repeat center center;}
.hefendu {background: url('extjs_icons/insects/hefendu.png') no-repeat center center;}
.hefendu32 {background: url('extjs_icons/insects/hefendu32.png') no-repeat center center;}
.heiaiyanchong {background: url('extjs_icons/insects/heiaiyanchong.png') no-repeat center center;}
.heiaiyanchong32 {background: url('extjs_icons/insects/heiaiyanchong32.png') no-repeat center center;}
.heifenchong {background: url('extjs_icons/insects/heifenchong.png') no-repeat center center;}
.heifenchong32 {background: url('extjs_icons/insects/heifenchong32.png') no-repeat center center;}
.heijunchong {background: url('extjs_icons/insects/heijunchong.png') no-repeat center center;}
.heijunchong32 {background: url('extjs_icons/insects/heijunchong32.png') no-repeat center center;}
.heimaopidu {background: url('extjs_icons/insects/heimaopidu.png') no-repeat center center;}
.heimaopidu32 {background: url('extjs_icons/insects/heimaopidu32.png') no-repeat center center;}
.heshipuman {background: url('extjs_icons/insects/heshipuman.png') no-repeat center center;}
.heshipuman32 {background: url('extjs_icons/insects/heshipuman32.png') no-repeat center center;}
.hexunjia {background: url('extjs_icons/insects/hexunjia.png') no-repeat center center;}
.hexunjia32 {background: url('extjs_icons/insects/hexunjia32.png') no-repeat center center;}
.heyezhiman {background: url('extjs_icons/insects/heyezhiman.png') no-repeat center center;}
.heyezhiman32 {background: url('extjs_icons/insects/heyezhiman32.png') no-repeat center center;}
.hezhujia {background: url('extjs_icons/insects/hezhujia.png') no-repeat center center;}
.hezhujia32 {background: url('extjs_icons/insects/hezhujia32.png') no-repeat center center;}
.hongdaipidu {background: url('extjs_icons/insects/hongdaipidu.png') no-repeat center center;}
.hongdaipidu32 {background: url('extjs_icons/insects/hongdaipidu32.png') no-repeat center center;}
.hongjingxiaoxunjia {background: url('extjs_icons/insects/hongjingxiaoxunjia.png') no-repeat center center;}
.hongjingxiaoxunjia32 {background: url('extjs_icons/insects/hongjingxiaoxunjia32.png') no-repeat center center;}
.huabanpidu {background: url('extjs_icons/insects/huabanpidu.png') no-repeat center center;}
.huabanpidu32 {background: url('extjs_icons/insects/huabanpidu32.png') no-repeat center center;}
.huajunjiaman {background: url('extjs_icons/insects/huajunjiaman.png') no-repeat center center;}
.huajunjiaman32 {background: url('extjs_icons/insects/huajunjiaman32.png') no-repeat center center;}
.huangbanluweijia {background: url('extjs_icons/insects/huangbanluweijia.png') no-repeat center center;}
.huangbanluweijia32 {background: url('extjs_icons/insects/huangbanluweijia32.png') no-repeat center center;}
.huangfenchong {background: url('extjs_icons/insects/huangfenchong.png') no-repeat center center;}
.huangfenchong32 {background: url('extjs_icons/insects/huangfenchong32.png') no-repeat center center;}
.huidouxiang {background: url('extjs_icons/insects/huidouxiang.png') no-repeat center center;}
.huidouxiang32 {background: url('extjs_icons/insects/huidouxiang32.png') no-repeat center center;}
.huotuipidu {background: url('extjs_icons/insects/huotuipidu.png') no-repeat center center;}
.huotuipidu32 {background: url('extjs_icons/insects/huotuipidu32.png') no-repeat center center;}
.jiashitianman {background: url('extjs_icons/insects/jiashitianman.png') no-repeat center center;}
.jiashitianman32 {background: url('extjs_icons/insects/jiashitianman32.png') no-repeat center center;}
.jifendao {background: url('extjs_icons/insects/jifendao.png') no-repeat center center;}
.jifendao32 {background: url('extjs_icons/insects/jifendao32.png') no-repeat center center;}
.jixiongluweijia {background: url('extjs_icons/insects/jixiongluweijia.png') no-repeat center center;}
.jixiongluweijia32 {background: url('extjs_icons/insects/jixiongluweijia32.png') no-repeat center center;}
.jugudao {background: url('extjs_icons/insects/jugudao.png') no-repeat center center;}
.jugudao32 {background: url('extjs_icons/insects/jugudao32.png') no-repeat center center;}
.junshishijunman {background: url('extjs_icons/insects/junshishijunman.png') no-repeat center center;}
.junshishijunman32 {background: url('extjs_icons/insects/junshishijunman32.png') no-repeat center center;}
.kafeidouxiang {background: url('extjs_icons/insects/kafeidouxiang.png') no-repeat center center;}
.kafeidouxiang32 {background: url('extjs_icons/insects/kafeidouxiang32.png') no-repeat center center;}
.kuobiguxiang {background: url('extjs_icons/insects/kuobiguxiang.png') no-repeat center center;}
.kuobiguxiang32 {background: url('extjs_icons/insects/kuobiguxiang32.png') no-repeat center center;}
.kuojiaogudao {background: url('extjs_icons/insects/kuojiaogudao.png') no-repeat center center;}
.kuojiaogudao32 {background: url('extjs_icons/insects/kuojiaogudao32.png') no-repeat center center;}
.laidouxiang {background: url('extjs_icons/insects/laidouxiang.png') no-repeat center center;}
.laidouxiang32 {background: url('extjs_icons/insects/laidouxiang32.png') no-repeat center center;}
.laoyangliman {background: url('extjs_icons/insects/laoyangliman.png') no-repeat center center;}
.laoyangliman32 {background: url('extjs_icons/insects/laoyangliman32.png') no-repeat center center;}
.linchichuzuman {background: url('extjs_icons/insects/linchichuzuman.png') no-repeat center center;}
.linchichuzuman32 {background: url('extjs_icons/insects/linchichuzuman32.png') no-repeat center center;}
.linmaofendu {background: url('extjs_icons/insects/linmaofendu.png') no-repeat center center;}
.linmaofendu32 {background: url('extjs_icons/insects/linmaofendu32.png') no-repeat center center;}
.longxiongluweijia {background: url('extjs_icons/insects/longxiongluweijia.png') no-repeat center center;}
.longxiongluweijia32 {background: url('extjs_icons/insects/longxiongluweijia32.png') no-repeat center center;}
.luozhujia {background: url('extjs_icons/insects/luozhujia.png') no-repeat center center;}
.luozhujia32 {background: url('extjs_icons/insects/luozhujia32.png') no-repeat center center;}
.lvdouxiang {background: url('extjs_icons/insects/lvdouxiang.png') no-repeat center center;}
.lvdouxiang32 {background: url('extjs_icons/insects/lvdouxiang32.png') no-repeat center center;}
.maie {background: url('extjs_icons/insects/maie.png') no-repeat center center;}
.maie32 {background: url('extjs_icons/insects/maie32.png') no-repeat center center;}
.maliujiaroushiman {background: url('extjs_icons/insects/maliujiaroushiman.png') no-repeat center center;}
.maliujiaroushiman32 {background: url('extjs_icons/insects/maliujiaroushiman32.png') no-repeat center center;}
.maoxunjia {background: url('extjs_icons/insects/maoxunjia.png') no-repeat center center;}
.maoxunjia32 {background: url('extjs_icons/insects/maoxunjia32.png') no-repeat center center;}
.menggushaqian {background: url('extjs_icons/insects/menggushaqian.png') no-repeat center center;}
.menggushaqian32 {background: url('extjs_icons/insects/menggushaqian32.png') no-repeat center center;}
.mianlanzhoupiman {background: url('extjs_icons/insects/mianlanzhoupiman.png') no-repeat center center;}
.mianlanzhoupiman32 {background: url('extjs_icons/insects/mianlanzhoupiman32.png') no-repeat center center;}
.mibianchong {background: url('extjs_icons/insects/mibianchong.png') no-repeat center center;}
.mibianchong32 {background: url('extjs_icons/insects/mibianchong32.png') no-repeat center center;}
.midanmochong {background: url('extjs_icons/insects/midanmochong.png') no-repeat center center;}
.midanmochong32 {background: url('extjs_icons/insects/midanmochong32.png') no-repeat center center;}
.mie {background: url('extjs_icons/insects/mie.png') no-repeat center center;}
.mie32 {background: url('extjs_icons/insects/mie32.png') no-repeat center center;}
.mixiang {background: url('extjs_icons/insects/mixiang.png') no-repeat center center;}
.mixiang32 {background: url('extjs_icons/insects/mixiang32.png') no-repeat center center;}
.nashizhoupiman {background: url('extjs_icons/insects/nashizhoupiman.png') no-repeat center center;}
.nashizhoupiman32 {background: url('extjs_icons/insects/nashizhoupiman32.png') no-repeat center center;}
.niaoyijuxuman {background: url('extjs_icons/insects/niaoyijuxuman.png') no-repeat center center;}
.niaoyijuxuman32 {background: url('extjs_icons/insects/niaoyijuxuman32.png') no-repeat center center;}
.nibaifupidu {background: url('extjs_icons/insects/nibaifupidu.png') no-repeat center center;}
.nibaifupidu32 {background: url('extjs_icons/insects/nibaifupidu32.png') no-repeat center center;}
.niluozhujia {background: url('extjs_icons/insects/niluozhujia.png') no-repeat center center;}
.niluozhujia32 {background: url('extjs_icons/insects/niluozhujia32.png') no-repeat center center;}
.niuzhenshanmaoman {background: url('extjs_icons/insects/niuzhenshanmaoman.png') no-repeat center center;}
.niuzhenshanmaoman32 {background: url('extjs_icons/insects/niuzhenshanmaoman32.png') no-repeat center center;}
.putongroushiman {background: url('extjs_icons/insects/putongroushiman.png') no-repeat center center;}
.putongroushiman32 {background: url('extjs_icons/insects/putongroushiman32.png') no-repeat center center;}
.qinglanguogongchong {background: url('extjs_icons/insects/qinglanguogongchong.png') no-repeat center center;}
.qinglanguogongchong32 {background: url('extjs_icons/insects/qinglanguogongchong32.png') no-repeat center center;}
.ribenpipajia {background: url('extjs_icons/insects/ribenpipajia.png') no-repeat center center;}
.ribenpipajia32 {background: url('extjs_icons/insects/ribenpipajia32.png') no-repeat center center;}
.ribenzhujia {background: url('extjs_icons/insects/ribenzhujia.png') no-repeat center center;}
.ribenzhujia32 {background: url('extjs_icons/insects/ribenzhujia32.png') no-repeat center center;}
.shaqian {background: url('extjs_icons/insects/shaqian.png') no-repeat center center;}
.shaqian32 {background: url('extjs_icons/insects/shaqian32.png') no-repeat center center;}
.shengoufendao {background: url('extjs_icons/insects/shengoufendao.png') no-repeat center center;}
.shengoufendao32 {background: url('extjs_icons/insects/shengoufendao32.png') no-repeat center center;}
.shichongxiaman {background: url('extjs_icons/insects/shichongxiaman.png') no-repeat center center;}
.shichongxiaman32 {background: url('extjs_icons/insects/shichongxiaman32.png') no-repeat center center;}
.shixinjia {background: url('extjs_icons/insects/shixinjia.png') no-repeat center center;}
.shixinjia32 {background: url('extjs_icons/insects/shixinjia32.png') no-repeat center center;}
.shouyinjia {background: url('extjs_icons/insects/shouyinjia.png') no-repeat center center;}
.shouyinjia32 {background: url('extjs_icons/insects/shouyinjia32.png') no-repeat center center;}
.shuangchichangdu {background: url('extjs_icons/insects/shuangchichangdu.png') no-repeat center center;}
.shuangchichangdu32 {background: url('extjs_icons/insects/shuangchichangdu32.png') no-repeat center center;}
.shuangchijugudao {background: url('extjs_icons/insects/shuangchijugudao.png') no-repeat center center;}
.shuangchijugudao32 {background: url('extjs_icons/insects/shuangchijugudao32.png') no-repeat center center;}
.shuiyugenman {background: url('extjs_icons/insects/shuiyugenman.png') no-repeat center center;}
.shuiyugenman32 {background: url('extjs_icons/insects/shuiyugenman32.png') no-repeat center center;}
.shuqiedu {background: url('extjs_icons/insects/shuqiedu.png') no-repeat center center;}
.shuqiedu32 {background: url('extjs_icons/insects/shuqiedu32.png') no-repeat center center;}
.sidiangue {background: url('extjs_icons/insects/sidiangue.png') no-repeat center center;}
.sidiangue32 {background: url('extjs_icons/insects/sidiangue32.png') no-repeat center center;}
.siwendouxiang {background: url('extjs_icons/insects/siwendouxiang.png') no-repeat center center;}
.siwendouxiang32 {background: url('extjs_icons/insects/siwendouxiang32.png') no-repeat center center;}
.siwenluweijia {background: url('extjs_icons/insects/siwenluweijia.png') no-repeat center center;}
.siwenluweijia32 {background: url('extjs_icons/insects/siwenluweijia32.png') no-repeat center center;}
.sixingxinjia {background: url('extjs_icons/insects/sixingxinjia.png') no-repeat center center;}
.sixingxinjia32 {background: url('extjs_icons/insects/sixingxinjia32.png') no-repeat center center;}
.sushengbokouman {background: url('extjs_icons/insects/sushengbokouman.png') no-repeat center center;}
.sushengbokouman32 {background: url('extjs_icons/insects/sushengbokouman32.png') no-repeat center center;}
.tianguoman {background: url('extjs_icons/insects/tianguoman.png') no-repeat center center;}
.tianguoman32 {background: url('extjs_icons/insects/tianguoman32.png') no-repeat center center;}
.toujiaoxinjia {background: url('extjs_icons/insects/toujiaoxinjia.png') no-repeat center center;}
.toujiaoxinjia32 {background: url('extjs_icons/insects/toujiaoxinjia32.png') no-repeat center center;}
.tuerqibiangudao {background: url('extjs_icons/insects/tuerqibiangudao.png') no-repeat center center;}
.tuerqibiangudao32 {background: url('extjs_icons/insects/tuerqibiangudao32.png') no-repeat center center;}
.tuoyuanshifenman {background: url('extjs_icons/insects/tuoyuanshifenman.png') no-repeat center center;}
.tuoyuanshifenman32 {background: url('extjs_icons/insects/tuoyuanshifenman32.png') no-repeat center center;}
.tuoyuanxinjia {background: url('extjs_icons/insects/tuoyuanxinjia.png') no-repeat center center;}
.tuoyuanxinjia32 {background: url('extjs_icons/insects/tuoyuanxinjia32.png') no-repeat center center;}
.wandouxaing {background: url('extjs_icons/insects/wandouxaing.png') no-repeat center center;}
.wandouxaing32 {background: url('extjs_icons/insects/wandouxaing32.png') no-repeat center center;}
.wuchenman {background: url('extjs_icons/insects/wuchenman.png') no-repeat center center;}
.wuchenman32 {background: url('extjs_icons/insects/wuchenman32.png') no-repeat center center;}
.wuseshushi {background: url('extjs_icons/insects/wuseshushi.png') no-repeat center center;}
.wuseshushi32 {background: url('extjs_icons/insects/wuseshushi32.png') no-repeat center center;}
.xianluogudao {background: url('extjs_icons/insects/xianluogudao.png') no-repeat center center;}
.xianluogudao32 {background: url('extjs_icons/insects/xianluogudao32.png') no-repeat center center;}
.xiaobanming {background: url('extjs_icons/insects/xiaobanming.png') no-repeat center center;}
.xiaobanming32 {background: url('extjs_icons/insects/xiaobanming32.png') no-repeat center center;}
.xiaofendao {background: url('extjs_icons/insects/xiaofendao.png') no-repeat center center;}
.xiaofendao32 {background: url('extjs_icons/insects/xiaofendao32.png') no-repeat center center;}
.xiaojunchong {background: url('extjs_icons/insects/xiaojunchong.png') no-repeat center center;}
.xiaojunchong32 {background: url('extjs_icons/insects/xiaojunchong32.png') no-repeat center center;}
.xiaoxunjia {background: url('extjs_icons/insects/xiaoxunjia.png') no-repeat center center;}
.xiaoxunjia32 {background: url('extjs_icons/insects/xiaoxunjia32.png') no-repeat center center;}
.xiaoyinjia {background: url('extjs_icons/insects/xiaoyinjia.png') no-repeat center center;}
.xiaoyinjia32 {background: url('extjs_icons/insects/xiaoyinjia32.png') no-repeat center center;}
.xiaoyuanchong {background: url('extjs_icons/insects/xiaoyuanchong.png') no-repeat center center;}
.xiaoyuanchong32 {background: url('extjs_icons/insects/xiaoyuanchong32.png') no-repeat center center;}
.xiaoyuanpidu {background: url('extjs_icons/insects/xiaoyuanpidu.png') no-repeat center center;}
.xiaoyuanpidu32 {background: url('extjs_icons/insects/xiaoyuanpidu32.png') no-repeat center center;}
.xijingluweijia {background: url('extjs_icons/insects/xijingluweijia.png') no-repeat center center;}
.xijingluweijia32 {background: url('extjs_icons/insects/xijingluweijia32.png') no-repeat center center;}
.xiuchibiangudao {background: url('extjs_icons/insects/xiuchibiangudao.png') no-repeat center center;}
.xiuchibiangudao32 {background: url('extjs_icons/insects/xiuchibiangudao32.png') no-repeat center center;}
.yabianfendao {background: url('extjs_icons/insects/yabianfendao.png') no-repeat center center;}
.yabianfendao32 {background: url('extjs_icons/insects/yabianfendao32.png') no-repeat center center;}
.yancaojia {background: url('extjs_icons/insects/yancaojia.png') no-repeat center center;}
.yancaojia32 {background: url('extjs_icons/insects/yancaojia32.png') no-repeat center center;}
.yancaoming {background: url('extjs_icons/insects/yancaoming.png') no-repeat center center;}
.yancaoming32 {background: url('extjs_icons/insects/yancaoming32.png') no-repeat center center;}
.yangchong {background: url('extjs_icons/insects/yangchong.png') no-repeat center center;}
.yangchong32 {background: url('extjs_icons/insects/yangchong32.png') no-repeat center center;}
.yangzhaodanshuman {background: url('extjs_icons/insects/yangzhaodanshuman.png') no-repeat center center;}
.yangzhaodanshuman32 {background: url('extjs_icons/insects/yangzhaodanshuman32.png') no-repeat center center;}
.yaocaijia {background: url('extjs_icons/insects/yaocaijia.png') no-repeat center center;}
.yaocaijia32 {background: url('extjs_icons/insects/yaocaijia32.png') no-repeat center center;}
.yidiangue {background: url('extjs_icons/insects/yidiangue.png') no-repeat center center;}
.yidiangue32 {background: url('extjs_icons/insects/yidiangue32.png') no-repeat center center;}
.yinduguming {background: url('extjs_icons/insects/yinduguming.png') no-repeat center center;}
.yinduguming32 {background: url('extjs_icons/insects/yinduguming32.png') no-repeat center center;}
.yingzuidouxiang {background: url('extjs_icons/insects/yingzuidouxiang.png') no-repeat center center;}
.yingzuidouxiang32 {background: url('extjs_icons/insects/yingzuidouxiang32.png') no-repeat center center;}
.yuanzhuipidu {background: url('extjs_icons/insects/yuanzhuipidu.png') no-repeat center center;}
.yuanzhuipidu32 {background: url('extjs_icons/insects/yuanzhuipidu32.png') no-repeat center center;}
.yumixiang {background: url('extjs_icons/insects/yumixiang.png') no-repeat center center;}
.yumixiang32 {background: url('extjs_icons/insects/yumixiang32.png') no-repeat center center;}
.zanigudao {background: url('extjs_icons/insects/zanigudao.png') no-repeat center center;}
.zanigudao32 {background: url('extjs_icons/insects/zanigudao32.png') no-repeat center center;}
.zaojiadouxiang {background: url('extjs_icons/insects/zaojiadouxiang.png') no-repeat center center;}
.zaojiadouxiang32 {background: url('extjs_icons/insects/zaojiadouxiang32.png') no-repeat center center;}
.zhenximan {background: url('extjs_icons/insects/zhenximan.png') no-repeat center center;}
.zhenximan32 {background: url('extjs_icons/insects/zhenximan32.png') no-repeat center center;}
.zhijiaoqiedu {background: url('extjs_icons/insects/zhijiaoqiedu.png') no-repeat center center;}
.zhijiaoqiedu32 {background: url('extjs_icons/insects/zhijiaoqiedu32.png') no-repeat center center;}
.zhonghuadianjia {background: url('extjs_icons/insects/zhonghuadianjia.png') no-repeat center center;}
.zhonghuadianjia32 {background: url('extjs_icons/insects/zhonghuadianjia32.png') no-repeat center center;}
.zhonghuafendu {background: url('extjs_icons/insects/zhonghuafendu.png') no-repeat center center;}
.zhonghuafendu32 {background: url('extjs_icons/insects/zhonghuafendu32.png') no-repeat center center;}
.zhonghualongjia {background: url('extjs_icons/insects/zhonghualongjia.png') no-repeat center center;}
.zhonghualongjia32 {background: url('extjs_icons/insects/zhonghualongjia32.png') no-repeat center center;}
.zhonghuazhenshanmaoman {background: url('extjs_icons/insects/zhonghuazhenshanmaoman.png') no-repeat center center;}
.zhonghuazhenshanmaoman32 {background: url('extjs_icons/insects/zhonghuazhenshanmaoman32.png') no-repeat center center;}
.zhudu {background: url('extjs_icons/insects/zhudu.png') no-repeat center center;}
.zhudu32 {background: url('extjs_icons/insects/zhudu32.png') no-repeat center center;}
.zibanguming {background: url('extjs_icons/insects/zibanguming.png') no-repeat center center;}
.zibanguming32 {background: url('extjs_icons/insects/zibanguming32.png') no-repeat center center;}
.zongjizuman {background: url('extjs_icons/insects/zongjizuman.png') no-repeat center center;}
.zongjizuman32 {background: url('extjs_icons/insects/zongjizuman32.png') no-repeat center center;}



